.userInfo{
	font-size: 1.5em;
    font-style: italic;
    font-family: initial;
    margin-top: 60px;
    padding: 10px;
    background-color:  rgb(167, 106, 64);
    border-radius: 28px;
    color: white;
    border-bottom-style: outset;
    border-bottom-color: chocolate;
    border-bottom-width: thick;
}
.userBooksHeading{
	text-align:center;
}