<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Update Profile Info</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="profileForm">
        <div class="form-group">
          <label for="fname">First Name</label>
          <input type="text" id="fname" class="form-control" ng-model="vm.userProfile.firstName">
          </div>
        <div class="form-group">
          <label for="lname">Last Name</label>
          <input type="text" id="lname" class="form-control" ng-model="vm.userProfile.lastName">
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" id="city" class="form-control" ng-model="vm.userProfile.city">
        </div>
        <div class="form-group">
          <label for="state">State/Country</label>
          <input type="text" id="state" class="form-control" ng-model="vm.userProfile.state">
        </div>
        <button class="btn btn-lg btn-primary" type="submit" ng-click="vm.updateProfile()" ng-disabled="profileForm.$invalid">Save changes</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>Change Password</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>
        
        <div class="form-group">
          <label>Current Password</label>
          
          <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
          mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.other }}
          </p>
        </div>
        
        <div class="form-group">
          <label>New Password</label>
          
          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
          ng-minlength="3"
          required/>
          <p class="help-block"
            ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>
        
        <p class="help-block"> {{ message }} </p>
        
        <button class="btn btn-lg btn-primary" type="submit">Update Password</button>
      </form>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
      <p>Bookclub App 2015 | Power by Google Books API and Angular Fullstack v2.1.1 |
        <a href="https://twitter.com/AlinaMihai90">@AlinaMihai90</a> |
         <a href="https://github.com/alinaMihai">Github</a></p>
  </div>
</footer>