<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="row"><h1>Trading</h1></div>

	<tabset>
		<tab >
		    <tab-heading>
			<i class="badge">{{vm.userBookRequests.incomingRequests.length}}</i> Incoming Requests
			</tab-heading>
			<table class="table">
				<thead>
					<tr>
						<th>From</th>
						<th>Requested Book</th>
						<th>On</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="request in vm.userBookRequests.incomingRequests">
						<td><a ui-sref="UserProfile({email:request.user})">{{request.user}}</a></td>
						<td><a ui-sref="BookDetail({id:request.book._id})">{{request.book.title}}</a></td>
						<td>{{request.date |date:'dd-M-yyyy a H:mm'}}</td>
						<td>{{request.status|statusFilter}}</td>
						<td class="actionOptions" ng-if="!request.status">
							<div class="col-lg-2">			
								<span class="glyphicon glyphicon-ok" aria-hidden="true" title="accept request" 
								      ng-click="vm.handleRequest(request._id,true)"></span></div>
							<div class="col-lg-2"><span class="glyphicon glyphicon-remove" aria-hidden="true" title="reject request"
								ng-click="vm.handleRequest(request._id,false)"></span></div>
						</td>
					</tr>
				</tbody>
			</table>
		</tab>
		<tab >
		    <tab-heading>
			<i class="badge">{{vm.userBookRequests.outgoingRequests.length}}</i> Outgoing Requests
			</tab-heading>
			<table class="table">
				<thead>
					<tr>
						<th>Owner</th>
						<th>Requested Book</th>
						<th>On</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="request in vm.userBookRequests.outgoingRequests">
						<td><a ui-sref="UserProfile({email:request.book.user})">{{request.book.user}}</a></td>
						<td><a ui-sref="BookDetail({id:request.book._id})">{{request.book.title}}</a></td>
						<td>{{request.date |date:'dd-M-yyyy a H:mm'}}</td>
						<td>{{request.status|statusFilter}}</td>
					</tr>
				</tbody>
			</table>
		</tab>
		<tab>
			<tab-heading>My Requests</tab-heading>
			<table class="table">
				<thead>
					<tr>
						<th>Owner</th>
						<th>Requested Book</th>
						<th>On</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="request in vm.userBookRequests.myRequests">
						<td><a ui-sref="UserProfile({email:request.book.user})">{{request.book.user}}</a></td>
						<td><a ui-sref="BookDetail({id:request.book._id})">{{request.book.title}}</a></td>
						<td>{{request.date |date:'dd-M-yyyy a H:mm'}}</td>
						<td>{{request.status|statusFilter}}</td>
					</tr>
				</tbody>
			</table>
		</tab>
		<tab>
			<tab-heading>Requests from others</tab-heading>
			<table class="table">
				<thead>
					<tr>
						<th>From</th>
						<th>Requested Book</th>
						<th>On</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="request in vm.userBookRequests.othersRequests">
						<td><a ui-sref="UserProfile({email:request.user})">{{request.user}}</a></td>
						<td><a ui-sref="BookDetail({id:request.book._id})">{{request.book.title}}</a></td>
						<td>{{request.date |date:'dd-M-yyyy a H:mm'}}</td>
						<td>{{request.status|statusFilter}}</td>
					</tr>
				</tbody>
			</table>
		</tab>
	</tabset>
</div>