<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="row"><h1 class="text-center">Trading</h1></div>
	 <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1" spinner-start-active="true"></span>
	
	 <div class="row tradingTabs">
		<tabset>
		<tab>
		    <tab-heading>
		    <span class="glyphicon glyphicon-flag icon-flag"></span>
		    <span ng-if="vm.userBookRequests.incomingRequests.length" 
		          class="badge badge-notify">
		          {{vm.userBookRequests.incomingRequests.length}}
		     </span> Incoming Requests
			</tab-heading>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>From</th>
						<th>Requested Book</th>
						<th>On</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="request in vm.userBookRequests.incomingRequests">
						<td><a ui-sref="UserProfile({email:request.user})">{{request.user}}</a></td>
						<td><a ui-sref="BookDetail({id:request.book._id})">{{request.book.title}}</a></td>
						<td>{{request.date |date:'dd-M-yyyy a H:mm'}}</td>
						<td>{{request.status|statusFilter}}</td>
						<td class="actionOptions" ng-if="!request.status">
							<div class="col-lg-4">			
								<span class="glyphicon glyphicon-ok acceptRequest" aria-hidden="true" title="accept request" 
								      ng-click="vm.handleRequest(request._id,true)"></span></div>
							<div class="col-lg-4"><span class="glyphicon glyphicon-remove rejectRequest" aria-hidden="true" title="reject request"
								ng-click="vm.handleRequest(request._id,false)"></span></div>
						</td>
					</tr>
				</tbody>
			</table>
		</tab>
		<tab>
		    <tab-heading>
		        <span class="glyphicon glyphicon-flag icon-flag"></span>
		         <span ng-if="vm.userBookRequests.outgoingRequests.length" 
		         class="badge badge-notify">
		            {{vm.userBookRequests.outgoingRequests.length}}
		         </span> Outgoing Requests
			</tab-heading>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Owner</th>
						<th>Requested Book</th>
						<th>On</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="request in vm.userBookRequests.outgoingRequests">
						<td><a ui-sref="UserProfile({email:request.book.user})">{{request.book.user}}</a></td>
						<td><a ui-sref="BookDetail({id:request.book._id})">{{request.book.title}}</a></td>
						<td>{{request.date |date:'dd-M-yyyy a H:mm'}}</td>
						<td>{{request.status|statusFilter}}</td>
					</tr>
				</tbody>
			</table>
		</tab>
		<tab>
			<tab-heading><span class="glyphicon glyphicon-book bookIcon"> </span> My Requests </tab-heading>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Owner</th>
						<th>Requested Book</th>
						<th>On</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="request in vm.userBookRequests.myRequests">
						<td><a ui-sref="UserProfile({email:request.book.user})">{{request.book.user}}</a></td>
						<td><a ui-sref="BookDetail({id:request.book._id})">{{request.book.title}}</a></td>
						<td>{{request.date |date:'dd-M-yyyy a H:mm'}}</td>
						<td>{{request.status|statusFilter}}</td>
					</tr>
				</tbody>
			</table>
		</tab>
		<tab>
			<tab-heading><span class="glyphicon glyphicon-book bookIcon"></span> Requests from others</tab-heading>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>From</th>
						<th>Requested Book</th>
						<th>On</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="request in vm.userBookRequests.othersRequests">
						<td><a ui-sref="UserProfile({email:request.user})">{{request.user}}</a></td>
						<td><a ui-sref="BookDetail({id:request.book._id})">{{request.book.title}}</a></td>
						<td>{{request.date |date:'dd-M-yyyy a H:mm'}}</td>
						<td>{{request.status|statusFilter}}</td>
					</tr>
				</tbody>
			</table>
		</tab>
	    </tabset> 	
	 </div>
	
</div>
<footer class="footer">
  <div class="container">
      <p>Bookclub App 2015 | Power by Google Books API and Angular Fullstack v2.1.1 |
        <a href="https://twitter.com/AlinaMihai90">@AlinaMihai90</a> |
         <a href="https://github.com/alinaMihai">Github</a></p>
  </div>
</footer>