<div class="modal-header">
	<h3 class="modal-title">Add Book</h3>
</div>
<div class="modal-body">
	
	<form name="newBookForm">
			<div class="form-group" ng-class="{'has-error':newBookForm.query.$invalid && newBookForm.query.$dirty}">
				<label for="query">Add a book</label>
				<input class="form-control" name="query" type="text" placeholder="Search book" ng-model="vm.queryBook" required>
				<button class="btn btn-success btn-lg" ng-click="vm.searchBook()" 
				        ng-disabled="newBookForm.$invalid">Search</button>
			</div>
	</form>
	<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-search"></span>
	<div class="results" ng-if="vm.results.length>0">
		<h4>Results List</h4>
		<ul>
			<li ng-repeat="result in vm.results track by $index">
				<div>
					<button class="glyphicon glyphicon-plus" aria-hidden="true" title="add to shelf" 
					ng-click="vm.addBook(result); vm[$index+1]=$index+1;"
					ng-disabled="vm[$index+1]" ng-class="{'disabled': vm[$index+1]}" ></button>
					<img ng-src="{{result.thumbnail}}" alt="{{result.title}}" title="{{result.title}}">
				</div>
			</li>
		</ul>
	</div>
	
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="vm.ok()" ng-disabled="vm.myBooks.length===0" >OK</button>
	<button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>