<div class="modal-header">
	<h3 class="modal-title">Add Books</h3>
</div>
<div class="modal-body addBooks">
	
	<form name="newBookForm">
		<div class="form-group" ng-class="{'has-error':newBookForm.query.$invalid && newBookForm.query.$dirty}">
			<input class="form-control" name="query" type="text" placeholder="Search book" ng-model="vm.queryBook" required>
		</div>
		<div class="form-group">
			<button class="btn btn-primary btn-lg col-lg-4" ng-click="vm.searchBook()"
			ng-disabled="newBookForm.$invalid">Search</button>
		</div>
	</form>
	<div class="row">
		<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-search"></span>
		<div class="results" ng-if="vm.results.length>0">
			<h4 class="text-center">Results List</h4>
			<ul>
				<li ng-repeat="result in vm.results track by $index">
					<div>
						<button class="glyphicon" aria-hidden="true" title="add to shelf"
						ng-click="vm.addBook(result,$index);"
						ng-class="{'glyphicon-ok green': vm.resultsIndex[$index]===1, 'glyphicon-plus red':vm.resultsIndex[$index]===0 || vm.resultsIndex[$index]===undefined}" ></button>
						<img ng-src="{{result.thumbnail}}" alt="{{result.title}}" title="{{result.title}}">
					</div>
				</li>
			</ul>
		</div>
	</div>
	
</div>
<div class="modal-footer">
	<div class="row">
		<div class="col-lg-6">	
			<button class="btn btn-success btn-lg btn-block" type="button" ng-click="vm.ok()" ng-disabled="vm.myBooks.length===0" >Add</button>
		</div>
		<div class="col-lg-6">	
			<button class="btn btn-warning btn-lg btn-block" type="button" ng-click="vm.cancel()">Cancel</button>
		</div>
	</div>


</div>