.results {
    float: right;
    display: flex;
}
.results div{
	position:relative;
}
.results button{
	position: absolute;
    color: green;
    font-size: 2em;
    right: -8px;
    cursor: pointer;
    background-color: white;
    padding: 4px;
    border-radius: 21px;
    top: 150px;
}

.results button:hover{
    background-color: #E9FFE0;
}
.results button.disabled{
    color:gray;
    cursor:not-allowed;
}
.results ul{
    list-style: none;
}

.results ul li{
    float:left;
    padding: 5px;
    width: 130px;
    height: 200px;
    margin: 10px;
    margin-bottom:50px;
}
