.results {
    float: right;
    display: flex;
}
 .myBooks{
 	display:flex;
 }
.results div, .myBooks div{
	position:relative;
}
.results span, .myBooks span{
	position: absolute;
    color: green;
    font-size: 2em;
    right: -8px;
    cursor: pointer;
    background-color: white;
    padding: 4px;
    border-radius: 21px;
    top: 150px;
}
.myBooks span{
    color:black;
     font-size: 1.5em;
}
.myBooks span:hover{
    background-color:pink;
}
.results span:hover{
    background-color: #E9FFE0;
}

.results ul, .myBooks ul {
    list-style: none;
}

.results ul li, .myBooks ul li  {
    float:left;
    padding: 5px;
    width: 130px;
    height: 200px;
    margin: 10px;
}